body{
    background-color: rgb(24, 138, 238);
}

header{
    background-color: rgb(255, 133, 62);
    text-align: center;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

main{
    margin: 30px;
    text-align: center;
}
form{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.btn:hover{
    cursor: pointer;
}
